@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Inspiration&family=M+PLUS+1p:wght@300&family=Open+Sans&family=PT+Sans:ital@1&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* collaboration container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.text {
    position: absolute;
    bottom: 1%;
    text-align: center;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .5
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* Collabaration end */

.card1 {
    border-bottom: none;
    border-top: none;
}

.card2 {
    border: none;
}

.card1:hover {
    border-bottom: 2px solid rgb(186, 186, 189);
    border-top: 2px solid rgb(31, 31, 32);
    transition: all ease 0.2s;
}

.service-pricing {
    background-color: rgb(175, 175, 168);
    border-radius: 4px;
}

.collabaration {
    background-color: rgb(247, 247, 232);
}

.services-content i {
    font-size: 50px;
}

.card3 {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border: none;
}

.col-4 i {
    font-size: 50px;
    margin-top: 45%;
}