@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Inspiration&family=M+PLUS+1p:wght@300&family=Open+Sans&family=PT+Sans:ital@1&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}


/* Service section */

.Services h4 {
    color: black;
}


/* Collabaration end */

.card1 {
    border-bottom: none;
    border-top: none;
}

.card2 {
    border: none;
}

.card1:hover {
    border-bottom: 2px solid rgb(186, 186, 189);
    border-top: 2px solid rgb(31, 31, 32);
    transition: all ease 0.2s;
}

.service-pricing {
    background-color: rgb(175, 175, 168);
    border-radius: 4px;
}

.collabaration {
    background-color: rgb(247, 247, 232);
}

.services-content i {
    font-size: 50px;
}

.card3 {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border: none;
}

.card3 p {
    font-weight: 500;
}

.card3 i {
    font-size: 15px;
    color: black;
}

#card3-span {
    font-size: 20px;
    color: rgb(124, 124, 124);
}

.col-4 i {
    font-size: 50px;
    margin-top: 45%;
}

.Testimonial-section {
    background: url("../images/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    height: 70vh;
    width: 100%;
}

.Testimonial-section h3 {
    color: black;
    font-size: 20px;
}

.Testimonial-section h5 {
    color: black;
    font-size: 15px;
}