@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Inspiration&family=M+PLUS+1p:wght@300&family=Open+Sans&family=PT+Sans:ital@1&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url("../images/background/bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    width: 100%;
}

#title {
    color: black;
    font-size: 35px;
    font-weight: bold;
}

.projects {
    width: 96%;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 12px black;
    border-top: 2px solid rgb(202, 201, 201);
}

.projects h4 {
    font-size: 25px;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif
}

.projects img {
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 8px;
    padding-right: 5px;
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
}


/* copyright */

.Copyright {
    width: 100%;
    font-size: 15px;
    position: absolute;
    text-align: center;
    background-color: #6C757D;
}

#Copyright {
    color: #ffffff;
}