@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Inspiration&family=M+PLUS+1p:wght@300&family=Open+Sans&family=PT+Sans:ital@1&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url("../images/background/bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    width: 100%;
}

.service-landing {
    background: url("../images/background/Abg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    width: 100%;
    /* height: 110vh; */
}


/* HEADER */

.navbar-nav {
    text-align: center;
    float: right;
}

.navbar-nav a:hover {
    border-bottom: 2px solid rgb(252, 249, 249);
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
}

.logo img {
    border-radius: 10px;
}


/* Service part section1 */

#service {
    margin-top: 10%;
}

.btn-lg {
    background-color: transparent;
    border: 2px solid rgb(245, 240, 240);
    border-radius: 10px;
}

.btn-lg a {
    background-color: transparent;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

#btn_:hover {
    border-bottom: 2px solid rgb(3, 3, 3);
    border-radius: 20px;
    text-decoration: none;
    color: rgb(17, 16, 16);
    font-weight: bold;
    font-size: 22px;
}


/* FORM */


/* 
#btn_ {
    background-color: rgb(233, 230, 230);
    font-size: 20px;
    font-weight: bold;
    color: rgb(17, 16, 16);
}

.signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.signupFrm_ {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.form {
    background-color: grey;
    width: 60%;
    border-radius: 8px;
    padding: 1px 40px;
}

.title {
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.form p {
    font-size: 15px;
}

#select {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}

#select:focus+.label {
    color: purple;
}

#select:focus {
    border: 2px solid purple;
}

.inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 25px;
}

.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}

 ::placeholder {
    color: transparent;
}

.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: grey;
    color: #33373f;
    font-size: 18px;
    transition: 0.5s;
    z-index: 0;
}

#check {
    font-size: 16px;
    font-weight: bolder;
}

.submitBtn {
    display: block;
    margin-right: auto;
    padding: 15px 30px;
    border: none;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.submitBtn_ {
    display: block;
    margin-right: auto;
    padding: 15px 30px;
    border: none;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

#log {
    color: white;
    font-size: 16px;
}

.submitBtn:hover {
    background-color: black;
    transform: translateY(-2px);
    color: white;
}

.submitBtn_:hover {
    background-color: black;
    transform: translateY(-2px);
    color: white;
}

.input:focus+.label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 20px;
    font-weight: 600;
    color: purple;
}

.input:focus {
    border: 2px solid purple;
}

.input:not(:placeholder-shown)+.label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
} */


/*End of forms  */


/* Service part */


/* Service section */

.Services {
    width: 100%;
    background: url("../images/background/bg-counters.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.Services h4 {
    color: black;
}

.Services h5 {
    color: black;
}

.card1 {
    border-bottom: none;
    border-top: none;
}

.card2 {
    border: none;
}

.card1:hover {
    border-bottom: 3px solid rgb(186, 186, 189);
    border: 3px solid rgb(31, 31, 32);
    transition: all ease 0.2s;
    border-radius: 5px;
}

.service-pricing {
    background-color: rgb(175, 175, 168);
    border-radius: 4px;
}

.collabaration {
    background-color: rgb(247, 247, 232);
}

.services-content i {
    font-size: 50px;
}

.card3 {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 10px;
}

.card3 h5 {
    color: black;
}

.card3 img {
    border-radius: 10px;
}

.card3 p {
    font-weight: 500;
    color: black;
}

.card3 i {
    font-size: 15px;
    color: rgb(155, 153, 153);
}

#card3-span {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.col-4 i {
    font-size: 50px;
    margin-top: 45%;
}

.Testimonial-section {
    background: url("../images/background/bgg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
}

.Testimonial-section h3 {
    color: black;
    font-size: 20px;
}

.Testimonial-section h5 {
    color: #CFCFCF;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
}

.sirFelix {
    margin-top: 5%;
}

.service-pricing {
    background: url("../images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    width: 100%;
}

.Services h5 {
    font-family: 'Source Sans Pro', sans-serif;
}

.communication a:hover {
    background-color: #ADA69F;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
    text-decoration: none;
}

.communication a:hover i {
    color: #ffffff;
    transition: all ease 0.5s;
}

.communication {
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.communication a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    border-radius: 10px;
    background-color: rgb(241, 238, 233);
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(223, 222, 222, 0.2);
}

.communication i {
    color: #161515;
    font-size: 25px;
}

.Copyright {
    width: 100%;
    font-size: 15px;
    position: absolute;
    text-align: center;
    background-color: #b9bcbe;
    border-radius: 4px;
}

#Copyright {
    color: #0a0707;
    font-weight: bold;
    font-size: 15px;
}