* {
    margin: 0;
    padding: 0;
}

header{
  background-color: black;
  height: 40px;
  width: 100%;
  margin-bottom: 10.5px;
}

nav{
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  background-color: black;
}

nav .logo p{
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
  text-indent: 80px;
}

nav ul{
  display: flex;
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  margin: 20px;
  font-size: 15;
  position: relative;
  text-transform: uppercase;
  color: white;
  }

body {
  overflow-x: none;
}

.serv {
  height: auto;
  height: 600px;
  margin-bottom: 50px;
  color: black;
  padding-top: 30px;
  font-weight: bolder;
  font-size: large;
  text-align: center;
  display: flex;
  background-color: #7b7e85;
  width: 100%;
  background-size: cover;
  
}

.serv p {
    font-size: 20px;
}

#btn {
    background-color: black;
    font-size: large;
    color: whitesmoke;
}

.signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  }

  .signupFrm_ {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  }
  
  .form {
    background-color: grey;
    width: 60%;
    border-radius: 8px;
    padding: 20px 40px;
  }
  
  .title {
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .form p {
    font-size: 15px;
  }

  #select {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
  }

  #select:focus + .label {
    color: purple;
  }

  #select:focus {
    border: 2px solid purple;
  }


  .inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 25px;
  }

  .input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
  }

  ::placeholder {
    color: transparent;
  }

  .label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: grey;
    color: #33373f;
    font-size: 18px;
    transition: 0.5s;
    z-index: 0;
  }

  .submitBtn {
    display: block;
    margin-right: auto;
    padding: 15px 30px;
    border: none;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .submitBtn_ {
    display: block;
    margin-right: auto;
    padding: 15px 30px;
    border: none;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submitBtn:hover {
    background-color: black;
    transform: translateY(-2px);
    color: white;
  }

  .submitBtn_:hover {
    background-color: black;
    transform: translateY(-2px);
    color: white;
  }

  .input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 20px;
    font-weight: 600;
    color: purple;
  }

  .input:focus {
    border: 2px solid purple;
  }

  .input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
  }


/* when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}


.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "&#10004;";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "&#10006;";
}

#message-2 {
  display: none;
}

/* .signupFrm {
  display: none;
}

.signupFrm_ {
  display: none;
} */